/* src/app/components/recent-chats/recent-chats.component.css */
:host-context(.dark-theme) .card {
  background-color: #1e1e1e;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #f5f5f5;
}

:host-context(.dark-theme) .card-title {
  color: #64b5f6;
}

:host-context(.dark-theme) .mat-icon {
  color: #64b5f6;
}

:host-context(.dark-theme) .list-group-item {
  background-color: #1e1e1e;
  border: none;
  color: #f5f5f5;
}

:host-context(.dark-theme) .list-group-item:hover {
  background-color: #333;
}
