<!-- src/app/components/options/options.component.html -->
<div class="card border-0 shadow mb-4">
  <div class="card-body">
    <h5 class="card-title fw-bold text-primary">Options</h5>
    <div class="nav flex-column nav-pills mt-3">
      <a class="nav-link" routerLink="/tools/assistant" routerLinkActive="active" style="cursor: pointer;">
        General Assistance
      </a>
      <a class="nav-link" routerLink="/tools/templates" routerLinkActive="active" style="cursor: pointer;">
        Tempates
      </a>
      <a class="nav-link" routerLink="/tools/feedback" routerLinkActive="active" style="cursor: pointer;">
        Feedback
      </a>
    </div>
  </div>
</div>
