<!-- src/app/components/tools/tools.component.html -->
<div class="container mt-3">
  <div class="row">
    <div class="col-md-3 d-none d-md-block">
      @if (isAssistantRoute()) {
      <app-recent-chats></app-recent-chats>
      }
    </div>

    <div class="col-md-9 mb-3">
      <router-outlet></router-outlet>
      @if (isAssistantRoute()) {
      <div class="mt-1 text-muted small text-center">
        AI-assisted legal info for informational purposes only.
      </div>
      }
    </div>
  </div>
</div>
