:host-context(.dark-theme) .navbar-brand span {
  color: white !important;
}

:host-context(.dark-theme) .navbar-toggler-icon {
  filter: invert(1);
}

:host-context(.dark-theme) .nav-link {
  color: #f5f5f5 !important;
}

:host-context(.dark-theme) .btn-outline-primary {
  color: #64b5f6 !important;
  border-color: #64b5f6 !important;
}

:host-context(.dark-theme) .btn-primary {
  border-color: #1976d2 !important;
}

:host-context(.dark-theme) .btn.text-primary,
:host-context(.dark-theme) .btn.text-primary mat-icon {
  color: #fff !important;
}
:host-context(.dark-theme) .nav-item .btn.btn-outline-primary {
  color: #fff !important;
  border-color: #64b5f6 !important;
}

:host-context(.dark-theme) .nav-item .btn.btn-outline-primary:hover {
  background-color: #fff !important;
  color: #1976d2 !important;
  border-color: #1565c0 !important;
}

:host-context(.dark-theme) .nav-item .btn.btn-primary {
  /* background-color: #fff !important; */
  border-color: #fff !important;
  color: #fff !important;
}

:host-context(.dark-theme) .nav-item .btn.btn-primary:hover {
  background-color: #fff !important;
  color: #1976d2 !important;
  border-color: #1565c0 !important;
}
