.quicksand-unique {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: "Open Sans", sans-serif; }
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
