/* src/styles.css */

/* Base Styles */
.quicksand-unique {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body.dark-theme {
  background-color: #121212;
}
